form {
    margin: 0;
    padding: 0
}

label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle
}

label input {
    font-weight: normal
}

textarea,
.inputtext,
.inputpassword {
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 3px
}

textarea {
    max-width: 100%
}

select {
    border: 1px solid #ccd0d5;
    padding: 2px
}

input,
select,
textarea {
    background-color: #fff;
    color: #1c1e21
}

.inputtext,
.inputpassword {
    padding-bottom: 4px
}

.inputtext:invalid,
.inputpassword:invalid {
    box-shadow: none
}

.inputradio {
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle
}

.inputcheckbox {
    border: 0;
    vertical-align: middle
}

.inputbutton,
.inputsubmit {
    background-color: #4267b2;
    border-color: #DADDE1 #0e1f5b #0e1f5b #d9dfea;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 2px 15px 3px 15px;
    text-align: center
}

.inputaux {
    background: #ebedf0;
    border-color: #EBEDF0 #666 #666 #e7e7e7;
    color: #000
}

.inputsearch {
    background: #FFFFFF url(/rsrc.php/v3/yL/r/unHwF9CkMyM.png) no-repeat left 4px;
    padding-left: 17px
}

html {
    touch-action: manipulation
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed
}

body,
button,
input,
label,
select,
td,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1c1e21;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

h1 {
    font-size: 14px
}

h4,
h5,
h6 {
    font-size: 12px
}

p {
    margin: 1em 0
}

b,
strong {
    font-weight: 600
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none
}

button {
    margin: 0
}

a:hover {
    text-decoration: underline
}

img {
    border: 0
}

td,
td.label {
    text-align: left
}

dd {
    color: #000
}

dt {
    color: #606770
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

abbr {
    border-bottom: none;
    text-decoration: none
}

hr {
    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px
}

*::-moz-placeholder,
*:-moz-placeholder {
    color: #606770
}

*:focus::-moz-placeholder,
*:focus:-moz-placeholder {
    color: #bec3c9
}

.no_js *::-moz-placeholder,
.no_js *:-moz-placeholder {
    color: #000
}

body {
    overflow-y: scroll
}

.mini_iframe {
    overflow-y: visible
}

.auto_resize_iframe {
    height: auto;
    overflow: hidden
}

.pipe {
    color: gray;
    padding: 0 3px
}

#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto
}

.profile #content,
.home #content,
.search #content {
    min-height: 600px
}

.UIStandardFrame_Container {
    margin: 0 auto;
    padding-top: 20px;
    width: 960px
}

.UIStandardFrame_Content {
    float: left;
    margin: 0;
    padding: 0;
    width: 760px
}

.UIStandardFrame_SidebarAds {
    float: right;
    margin: 0;
    padding: 0;
    width: 200px;
    word-wrap: break-word
}

.UIFullPage_Container {
    margin: 0 auto;
    padding: 20px 12px 0;
    width: 940px
}

.empty_message {
    background: #f5f6f7;
    font-size: 13px;
    line-height: 17px;
    padding: 20px 20px 50px;
    text-align: center
}

.see_all {
    text-align: right
}

.standard_status_element {
    visibility: hidden
}

.standard_status_element.async_saving {
    visibility: visible
}

img.tracking_pixel {
    height: 1px;
    position: absolute;
    visibility: hidden;
    width: 1px
}

.fixed_elem,
.fixed_always {
    position: fixed !important
}

.tinyHeight .fixed_elem {
    position: static !important
}

.chrome .fixed_elem,
.chrome .fixed_always {
    transform: translateZ(0)
}

.tinyHeight .chrome .fixed_elem {
    transform: none
}

.fullScreen {
    height: 100%;
    width: 100%
}

._li._li._li {
    overflow: initial
}

._aj3e,
._aj3e video {
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: -1
}

._aowd._li._li._li {
    overflow: hidden
}

._9053 ._li._li._li {
    overflow-x: hidden
}

._72b0 {
    position: relative;
    z-index: 0
}

.registration ._li._9bpz {
    background-color: #f0f2f5
}

._li ._9bp- {
    padding-top: 5px;
    text-align: center
}

._li ._9bp- .fb_logo {
    height: 100px
}

._li ._a66f {
    padding-top: 5px;
    text-align: center
}

._li ._a66f .fb_logo {
    height: 80px;
    padding-top: 72px
}

html ._44mg {
    padding: 6px 0;
    width: 302px
}

html ._1kbt._1kbt {
    font-size: 14px;
    padding: 5px 8px;
    width: 284px
}

#facebook ._97v- ._1kbt {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px
}

#facebook ._9ay4 {
    border: 1px solid #f02849
}

._9ay5 {
    position: relative
}

._9ay6 {
    bottom: 16px;
    position: absolute;
    right: 10px
}

#facebook ._9npi {
    background: none;
    border: 0;
    box-shadow: none;
    float: left;
    font-size: 17px;
    padding: 0;
    width: 300px
}

#facebook ._44mg ._9ay7 {
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px;
    text-align: left
}

._9nyg {
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    width: 330px
}

._9nyh {
    border-color: #dddfe2;
    box-shadow: none;
    caret-color: none
}

#facebook ._9nyi {
    border-color: #0866ff;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #0866ff
}

._44mg ._9ay7 a {
    color: #f02849;
    font-weight: bold
}

._9ls7 {
    position: relative
}

._9ls8 {
    background: url(/rsrc.php/v3/yZ/r/je5FEJkU1_K.png)
}

._9ls9 {
    background: url(/rsrc.php/v3/yk/r/swFqSxKYa5M.png)
}

._9lsa {
    border-radius: 50%;
    bottom: -25px;
    height: 28px;
    position: absolute;
    right: -8px;
    width: 28px
}

._9lsa:hover {
    background-color: rgba(0, 0, 0, .05)
}

._9lsa:active {
    background-color: rgba(0, 0, 0, .15)
}

._9lsb {
    bottom: 6px;
    height: 16px;
    position: absolute;
    right: 6px;
    width: 16px
}

._53ij {
    background: #fff;
    background: var(--card-background, #FFFFFF);
    position: relative
}

._53io {
    overflow: hidden;
    position: absolute
}

._53ih ._53io {
    display: none
}

._2agf {
    word-wrap: normal
}

._2agf._4o_4 {
    display: inline-flex
}

._55pe {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap
}

._19_u :focus {
    outline: none !important
}

i.img {
    -ms-high-contrast-adjust: none
}

i.img u {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

._10 {
    height: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 202
}

.platform_dialog ._10 {
    position: absolute
}

._1yv {
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 0 auto 40px;
    position: relative
}

._t {
    background-color: #fff;
    position: relative
}

._1yw {
    background-color: #6d84b4;
    border: 1px solid #365899;
    border-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold
}

._13,
._14 {
    border-color: #555;
    border-style: solid;
    border-width: 0 1px
}

._13:first-child {
    border-top-width: 1px
}

._13:last-child {
    border-bottom-width: 1px
}

._14 {
    border-bottom-width: 1px
}

.uiContextualLayerPositioner {
    height: 0;
    position: absolute;
    z-index: 202
}

.uiContextualLayer {
    position: absolute
}

div.uiContextualLayerPositionerFixed {
    position: fixed
}

.uiContextualLayerParent {
    position: relative
}

#globalContainer.bizWebLoginContainer {
    overflow-x: hidden
}

._1m42 {
    display: block
}

._1w_m ._1m42 img,
._53s ._1m42 i {
    filter: brightness(50%) blur(5px);
    transition: filter .5s ease-out
}

._5v3q ._1m42::before,
._1m42::before {
    animation: rotateSpinner 1.2s linear infinite;
    background-image: url(/rsrc.php/v3/yH/r/xgVgalBG80z.png);
    border: 0;
    content: '';
    display: inline-block;
    height: 24px;
    left: 50%;
    margin: -12px -12px;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 10
}

.openToggler {
    z-index: 100
}

.uiToggleFlyout,
.toggleTargetClosed,
.openToggler .uiToggleFlyout .uiToggleFlyout {
    display: none
}

.openToggler .uiToggleFlyout,
.openToggler .uiToggleFlyout .openToggler .uiToggleFlyout {
    display: block
}

.hideToggler {
    border: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0
}

._9l2i ._9l2g,
._9l2i ._1yv {
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 565px !important
}

._9l2i ._4t2a,
._9l2i ._9l18 {
    background-color: transparent
}

._9l2i ._9l19,
._9l2i ._9l1d {
    box-sizing: border-box;
    margin: auto;
    width: 565px
}

._9l2i ._9l1d ._9l16,
._9l2i ._9l16 {
    background-color: #fff;
    border-bottom: none;
    padding: 18px 16px
}

._9l2i ._9l16 .clearfix {
    align-items: center;
    display: flex;
    justify-content: space-between
}

._9l2i ._9l16 .clearfix::after {
    display: none
}

._9l2i ._9l16 ._9l17 {
    font-size: 20px;
    line-height: 24px
}

._9l2i ._9l16 ._9l15,
._9l2i ._9l16 ._9l15:hover {
    background-color: #e4e6eb;
    background-image: url(/rsrc.php/v3/yn/r/J-J3z0h9x9f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px
}

._9l2i ._9l16 ._9l15:hover {
    background-color: #bec3c9
}

._9l2i ._pig {
    padding: 12px 16px
}

._9l2i ._pig ._9l1a {
    color: #606770;
    font-size: 15px;
    line-height: 19px
}

._9l2i ._5a8u {
    border-top: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 16px;
    padding: 12px 0
}

._9l2i ._5a8u ._9l2h,
._9l2i ._9l1d ._9l2j {
    align-items: center;
    background-color: #216fdb;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    font-size: 15px;
    height: 36px;
    justify-content: center;
    line-height: 20px;
    margin-left: 20px;
    width: 121px
}

._9l2i ._5a8u ._9l2k {
    align-items: center;
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #216fdb;
    display: flex;
    font-size: 15px;
    height: 36px;
    justify-content: center;
    line-height: 20px;
    margin: 0;
    padding: 0
}

._9l2i ._5a8u ._9l2k:hover {
    background-color: transparent
}

._9l2i ._5a8u ._9l2k:after {
    display: none
}

._59s7 {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto 40px;
    position: relative
}

._4t2a {
    background-color: #fff;
    border-radius: 3px;
    position: relative
}

._4-i0 {
    background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
    color: #1d2129;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12px
}

._4-i0 ._ohe {
    max-width: 100%
}

._2gb3 ._ohe {
    max-width: calc(100% - 40px)
}

._4-i0 ._52c9 {
    color: #1d2129;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

._2g9z {
    padding: 6px 8px
}

._4-i0 ._2g9- {
    padding: 4px
}

._2g9_ {
    margin-top: 4px
}

._2qes {
    float: left
}

._2qet {
    display: inline-block;
    line-height: 25px;
    margin-left: 10px;
    vertical-align: middle
}

._4-i0._5dwa {
    line-height: 12px
}

._4-i0._5dwa ul {
    float: left
}

div._4-i2 {
    background-color: #fff;
    word-wrap: break-word
}

div._4-i2 div[role='document'] {
    outline: none
}

._5pfh {
    overflow-y: auto
}

._pig {
    padding: 12px
}

._4-i2:first-child {
    border-radius: 3px 3px 0 0
}

._4-i2:last-child {
    border-radius: 0 0 3px 3px
}

._4-i0.accessible_elem:first-child+._4-i2:last-child,
._4-i2:only-child {
    border-radius: 3px
}

div._5a8u {
    background-color: #fff;
    padding: 12px 0
}

html ._27qq {
    border-radius: 0 0 3px 3px;
    margin: 0;
    padding: 12px 12px
}

._3thl {
    overflow: hidden
}

._42ef {
    overflow: hidden
}

._8o,
._8o .img {
    display: block
}

._8r {
    margin-right: 5px
}

._8s {
    margin-right: 8px
}

._8t {
    margin-right: 10px
}

._6a {
    display: inline-block
}

._6d {
    vertical-align: bottom
}

._6b {
    vertical-align: middle
}

._6e {
    vertical-align: top
}

._5u5j {
    width: 100%
}

._5aj7 {
    display: flex
}

._5aj7 ._4bl7 {
    float: none
}

._5aj7 ._4bl9 {
    flex: 1 0 0px
}

._ikh ._4bl7 {
    float: left;
    min-height: 1px
}

._4bl7,
._4bl9 {
    word-wrap: break-word
}

._4bl9 {
    overflow: hidden
}

._ohe {
    float: left
}

._ohf {
    float: right
}

._ohf>.horizontal {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

@keyframes CSSFade_show {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes CSSFade_hide {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap
}

._42ft::-moz-focus-inner {
    border: 0;
    padding: 0
}

.gecko ._42ft:focus {
    outline: 1px dotted #3b5998;
    outline-color: invert
}

._42ft:hover {
    text-decoration: none
}

._42ft+._42ft {
    margin-left: 4px
}

._42fr,
._42fs {
    cursor: default
}

._afhc {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

._4jnw {
    margin: 0
}

._3-8h {
    margin: 4px
}

._3-8i {
    margin: 8px
}

._3-8j {
    margin: 12px
}

._3-8k {
    margin: 16px
}

._3-8l {
    margin: 20px
}

._2-5b {
    margin: 24px
}

._1kbd {
    margin-bottom: 0;
    margin-top: 0
}

._3-8m {
    margin-bottom: 4px;
    margin-top: 4px
}

._3-8n {
    margin-bottom: 8px;
    margin-top: 8px
}

._3-8o {
    margin-bottom: 12px;
    margin-top: 12px
}

._3-8p {
    margin-bottom: 16px;
    margin-top: 16px
}

._3-8q {
    margin-bottom: 20px;
    margin-top: 20px
}

._2-ox {
    margin-bottom: 24px;
    margin-top: 24px
}

._1a4i {
    margin-left: 0;
    margin-right: 0
}

._3-8r {
    margin-left: 4px;
    margin-right: 4px
}

._3-8s {
    margin-left: 8px;
    margin-right: 8px
}

._3-8t {
    margin-left: 12px;
    margin-right: 12px
}

._3-8u {
    margin-left: 16px;
    margin-right: 16px
}

._3-8v {
    margin-left: 20px;
    margin-right: 20px
}

._6bu9 {
    margin-left: 24px;
    margin-right: 24px
}

._5soe {
    margin-top: 0
}

._3-8w {
    margin-top: 4px
}

._3-8x {
    margin-top: 8px
}

._3-8y {
    margin-top: 12px
}

._3-8z {
    margin-top: 16px
}

._3-8- {
    margin-top: 20px
}

._4aws {
    margin-top: 24px
}

._2-jz {
    margin-right: 0
}

._3-8_ {
    margin-right: 4px
}

._3-90 {
    margin-right: 8px
}

._3-91 {
    margin-right: 12px
}

._3-92 {
    margin-right: 16px
}

._3-93 {
    margin-right: 20px
}

._y8t {
    margin-right: 24px
}

._5emk {
    margin-bottom: 0
}

._3-94 {
    margin-bottom: 4px
}

._3-95 {
    margin-bottom: 8px
}

._3-96 {
    margin-bottom: 12px
}

._3-97 {
    margin-bottom: 16px
}

._3-98 {
    margin-bottom: 20px
}

._20nr {
    margin-bottom: 24px
}

._av_ {
    margin-left: 0
}

._3-99 {
    margin-left: 4px
}

._3-9a {
    margin-left: 8px
}

._3-9b {
    margin-left: 12px
}

._3-9c {
    margin-left: 16px
}

._3-9d {
    margin-left: 20px
}

._4m0t {
    margin-left: 24px
}

._a82f {
    margin-left: 28px
}

/*FB_PKG_DELIM*/

#bootloader_nV5r1GO {
    height: 42px;
}

.bootloader_nV5r1GO {
    display: block !important;
}